<form nz-form [formGroup]="state.formLogin" (ngSubmit)="submitHandler()" [nzLayout]="'vertical'">
    <div nz-flex [nzVertical]="false" style="margin-bottom: 10rem;">
        <div style="flex: 1"></div>
        <img nz-image [nzSrc]="appImage.LogoSrc"  height="200" />
        <div style="flex: 1"></div>
    </div>
    <div nz-flex [nzVertical]="false">
        <div style="flex: 1"></div>
        <h2 nz-typography>Page Login</h2>
        <div style="flex: 1"></div>
    </div>
    <nz-form-item>
        <nz-form-label [nzSpan]="24">Email</nz-form-label>
        <nz-form-control [nzSpan]="24">
            <input formControlName="username" style="width: 100%; height: 45px;" nz-input name="email" type="email" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="24">Password</nz-form-label>
        <nz-form-control [nzSpan]="24">
            <nz-input-group [nzSuffix]="passwordTemplate">
                <input formControlName="password" [type]="state.passwordVisible ? 'text' : 'password'" style="width: 100%;" nz-input name="email"  />

            </nz-input-group>
            <ng-template #passwordTemplate>
                <button (click)="toggleVisiblePassword()" nz-button nzType="text" type="button">
                    <span nz-icon [nzType]=" state.passwordVisible ? 'eye-invisible' : 'eye'"></span>
                </button>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <button nz-button [nzLoading]="state.authenticating" nzType="primary" type="submit" nzBlock>Submit</button>
    </nz-form-item>
</form>