<ul nz-menu nzTheme="dark" nzMode="vertical">
    <ng-container *ngTemplateOutlet="menuLogo"></ng-container>
    <ng-container *ngTemplateOutlet="loggedInUser"></ng-container>
    <li nz-menu-item>
        <button nz-button nzType="text" (click)="goTo('/employee')">
            <span style="color: white">Master Data Employee</span>
        </button>
    </li>
    <li nz-menu-item>
        <button nz-button nzType="text" (click)="logout()">
            <span style="color: white">Logout</span>
        </button>
    </li>
</ul>
<ng-template #menuLogo>
    <div style="
        width: 100%;
        padding: 1rem 2rem;
    ">
        <img width="100%" nz-image  [nzSrc]="appImage.LogoSrc"/>

    </div>
</ng-template>
<ng-template #loggedInUser>
    <div nz-flex nzVertical="false">
        <div style="margin: .75rem">
            <nz-avatar nzIcon="user">
    
            </nz-avatar>
        </div>
        <div nz-flex nzVertical="true" style="margin-top: .75rem;">
            <div style="flex: 1"></div>
            <div style="height: fit-content;">
                <p style="color: #f6f6f6;" nz-typography >Users 1</p>

            </div>
            <div style="height: fit-content;">
                <p style="color: #f6f6f6"nz-typography >{{'users1@example.com'}}</p>
            </div>
            
            <div style="flex: 1"></div>

        </div>
    </div>
    
</ng-template>