<logged-in-layout>
    <div nzContent>
        <ng-container *ngTemplateOutlet='formEmployeePage'></ng-container>
    </div>
    
</logged-in-layout >
<ng-template #formEmployeePage>
    <div *ngIf="editable">
        <div style="padding: 1rem 2rem">
            <h1 nzTypography>
                Form Employee
            </h1>
            <nz-card style="margin-top: 1rem;">
                <mandiri-form-employee>
            
                </mandiri-form-employee>
            </nz-card>    
        </div>
    </div>
    <div *ngIf="!editable">
        <div style="padding: 1rem 2rem">
            <h1 nzTypography>
                Lihat Data Employee
            </h1>
            <nz-card style="margin-top: 1rem;">
                <mandiri-view-employee>
            
                </mandiri-view-employee>
            </nz-card>    
        </div>
    </div>
</ng-template>
