<form nz-form [nzLayout]="'vertical'"  (ngSubmit)="validateForm()" [formGroup]="state.formEmployeeGroup">
    <nz-form-item >
        <nz-form-label nzRequired>Username</nz-form-label>
        <nz-form-control nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="usernameErrorTpl">
            <input nz-input formControlName="username" (change)="validateForm" placeholder="Masukkan Username..." />
        </nz-form-control>
        <ng-template #usernameErrorTpl let-control>
            <div *ngFor="let error of control.errors | keyvalue" style="padding: .5rem">
                <nz-alert 
                    nzType="error"
                    nzMessage="{{ printMessage(error.value) }}"
                ></nz-alert>
            </div>
        </ng-template>
    </nz-form-item>
   
    <nz-form-item>
        <nz-form-label nzRequired>Nama Depan</nz-form-label>
        <nz-form-control nzHasFeedback nzValidatingTip="Validating ..." [nzErrorTip]="firstNameError">
            <input nz-input formControlName="firstName" placeholder="Masukkan Nama Depan..." />
        </nz-form-control>
        <ng-template #firstNameError let-control>
            <div *ngFor="let error of control.errors | keyvalue" style="padding: .5rem">
                <nz-alert 
                    nzType="error"
                    nzMessage="{{ printMessage(error.value) }}"
                ></nz-alert>
            </div>
        </ng-template>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzRequired>Nama Belakang</nz-form-label>
        <nz-form-control nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="lastNameError">
            <input nz-input formControlName="lastName" placeholder="Masukkan Nama Belakang..." />
        </nz-form-control>
        <ng-template #lastNameError let-control>
            <div *ngFor="let error of control.errors | keyvalue" style="padding: .5rem">
                <nz-alert 
                    nzType="error"
                    nzMessage="{{ printMessage(error.value) }}"
                ></nz-alert>
            </div>
        </ng-template>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzRequired>Email</nz-form-label>
        <nz-form-control nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="emailError">
            <input nz-input formControlName="email" placeholder="Masukkan Email..." />
        </nz-form-control>
        <ng-template #emailError let-control>
            <div *ngFor="let error of control.errors | keyvalue" style="padding: .5rem">
                <nz-alert 
                    nzType="error"
                    nzMessage="{{ printMessage(error.value) }}"
                ></nz-alert>
            </div>
        </ng-template>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzRequired>Tanggal Lahir</nz-form-label>
        <nz-form-control nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="tanggalLahirError">
            <nz-date-picker formControlName="birthDate" nzPlaceHolder="Pilih Tanggal Lahir" style="width: 100%;">

            </nz-date-picker>
        </nz-form-control>
        <ng-template #tanggalLahirError let-control>
            <div *ngFor="let error of control.errors | keyvalue" style="padding: .5rem">
                <nz-alert 
                nzType="error"
                nzMessage="{{ printMessage(error.value) }}"
            ></nz-alert>
            </div>
        </ng-template>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzRequired>Salary</nz-form-label>
        <nz-form-control nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="salaryError">
            <input nz-input formControlName="basicSalary" placeholder="Masukkan Salary..." />
        </nz-form-control>
        <ng-template #salaryError let-control>
            <div *ngFor="let error of control.errors | keyvalue" style="padding: .5rem">
                <nz-alert 
                    nzType="error"
                    nzMessage="{{ printMessage(error.value) }}"
                ></nz-alert>
            </div>
        </ng-template>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzRequired>Status</nz-form-label>
        <nz-form-control nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="statusError">
            <nz-select formControlName="status" nzPlaceHolder="Pilih Status">
                <nz-option nzLabel="Active" nzValue="Active"></nz-option>
                <nz-option nzLabel="Inactive" nzValue="Inactive"></nz-option>
            </nz-select>
        </nz-form-control>
        <ng-template #statusError let-control>
            <div *ngFor="let error of control.errors | keyvalue" style="padding: .5rem">
                <nz-alert 
                    nzType="error"
                    nzMessage="{{ printMessage(error.value) }}"
                ></nz-alert>
            </div>
        </ng-template>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzRequired>group</nz-form-label>
        <nz-form-control nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="grupError">
            <nz-select formControlName="group" nzPlaceHolder="Pilih Grup">
                <nz-option nzLabel="group 1" nzValue="group 1"></nz-option>
                <nz-option nzLabel="group 2" nzValue="group 2"></nz-option>
            </nz-select>
        </nz-form-control>
        <ng-template #grupError let-control>
            <div *ngFor="let error of control.errors | keyvalue" style="padding: .5rem">
                <nz-alert 
                    nzType="error"
                    nzMessage="{{ printMessage(error.value) }}"
                ></nz-alert>
            </div>
        </ng-template>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>deskripsi</nz-form-label>
        <nz-form-control>
            <textarea nz-input placeholder="Masukkan Deskripsi Karyawan..."></textarea>
        </nz-form-control>
        <ng-template #usernameErrorTpl let-control>
            <div *ngFor="let error of control.errors | keyvalue" style="padding: .5rem">
                <nz-alert 
                    nzType="error"
                    nzMessage="{{ printMessage(error.value) }}"
                ></nz-alert>
            </div>
        </ng-template>
    </nz-form-item>
    <nz-row *ngIf="state.editable != false">
        <nz-col [nzSpan]="12"></nz-col>
        <nz-col [nzSpan]="6">
            <button nz-button (click)="btnCancelHandler()" nzBlock type="button" nzType="text">Cancel</button>
        </nz-col>
        <nz-col [nzSpan]="6">
            <button nz-button type="submit" nzType="primary" nzBlock>Submit</button>
        </nz-col>
    </nz-row>
</form>
