
<logged-in-layout>
    <div nzContent>
        <ng-container *ngTemplateOutlet="pageComponent"></ng-container>
    </div>
</logged-in-layout>
<ng-template #pageComponent>
    <div style="
    padding: 2rem 3rem
    ">
    <h1 nz-typography>
        Master Data Employee
    </h1>
    <nz-card>
        <app-table-employee></app-table-employee>
    </nz-card>
    </div>
</ng-template>