<nz-layout style="height: 100vh;">
    <nz-sider  nzWidth="250px" style="height: 100%;">
        <ng-container *ngTemplateOutlet="appsMenu"></ng-container>
    </nz-sider>
   <nz-layout>
    
    <nz-content style="width: auto;height: 100vh;overflow: scroll;">
        <ng-content select="[nzContent]"></ng-content>
    </nz-content>
   </nz-layout>

</nz-layout>
<ng-template #appsMenu>
    <app-navbar></app-navbar>
</ng-template>