<h2 nz-typography>Data User :  {{ state.firstName }} {{ state.lastName }}</h2>
<div *ngIf="state?.username != undefined && state?.username != null">
    <ng-container *ngTemplateOutlet="description; context: {title: 'Username', value: state.username}"></ng-container>
    <ng-container *ngTemplateOutlet="description; context: {title: 'Nama Depan', value: state.firstName}"></ng-container>
    <ng-container *ngTemplateOutlet="description; context: {title: 'Nama Belakang', value: state.lastName}"></ng-container>
    <ng-container *ngTemplateOutlet="description; context: {title: 'Email', value: state.email}"></ng-container>
    <ng-container *ngTemplateOutlet="date; context: {title: 'Tanggal Lahir', value: state.birthDate}"></ng-container>
    <ng-container *ngTemplateOutlet="description; context: {title: 'Status', value: state.status}"></ng-container>
    <ng-container *ngTemplateOutlet="description; context: {title: 'Group', value: state.group}"></ng-container>
    <ng-container *ngTemplateOutlet="currency; context: {title: 'Salary', value: state.basicSalary}"></ng-container>
    <nz-row>
        <nz-col [nzSpan]="16"></nz-col>
        <nz-col [nzSpan]="8">
            <button (click)="cancelButtonHandler()" nz-button type="button" nzType="text" nzBlock>
                Cancel
            </button>
        </nz-col>
    </nz-row>
</div>
<ng-template #description let-title="title" let-value="value">
    <div nz-flex>
        <div style="width: 200px;">
            <h5 nz-typography>{{title}}</h5>
        </div>
        <div style="margin: 0rem 2rem">
            :
        </div>
        <div>
            <p nz-typography>{{ value }}</p>
        </div>
    </div>
</ng-template>
<ng-template #currency let-title="title" let-value="value">
    <div nz-flex>
        <div style="width: 200px;">
            <h5 nz-typography>{{title}}</h5>
        </div>
        <div style="margin: 0rem 2rem">
            :
        </div>
        <div>
            <p nz-typography>{{ parseCurrency(value) }}</p>
        </div>
    </div>
</ng-template>
<ng-template #date let-title="title" let-value="value">
    <div nz-flex>
        <div style="width: 200px;">
            <h5 nz-typography>{{title}}</h5>
        </div>
        <div style="margin: 0rem 2rem">
            :
        </div>
        <div>
            <p nz-typography>{{ value | date: 'dd MMMM yyyy' }}</p>
        </div>
    </div>
</ng-template>