
<div nz-row style="margin-bottom: 1rem;">
    <div nz-col nzSpan="18">
        <button (click)="onAddHandler()" type="button" nz-button nzType="primary">
            Tambah Data Karyawan
        </button>
    </div>
    <div nz-col nzSpan="6">
        <input (keyup)="searchBarHandler()" [(ngModel)]="state.search" nz-input placeholder="Search..." />
    </div>
</div>
<nz-table #nzTable 
    [nzData]="state.data" 
    nzShowSizeChanger="{{ state.pagination.showSizeChanger == true }}" 
    [nzFrontPagination]="false"  
    [nzTotal]="state.pagination.total" 
    [nzPageSize]="state.pagination.pageSize" 
    [nzPageIndex]="state.pagination.current"
    (nzPageIndexChange)="onPageIndexChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
    
    nzTableLayout="fixed">
    <tr>
       
        <th [nzSortFn]="true" (nzSortOrderChange)="sortFn($event, 'employee_id')">Employee ID</th>
        <th [nzSortFn]="true" (nzSortOrderChange)="sortFn($event, 'first_name')" >Nama Depan</th>
        <th [nzSortFn]="true" (nzSortOrderChange)="sortFn($event, 'last_name')">Nama Belakang</th>
        <th [nzSortFn]="true" (nzSortOrderChange)="sortFn($event, 'email')">Email</th>

        <th  >Actions</th>

    </tr>
    <tbody>
        <tr *ngFor="let data of state.data">
            <td>{{data.employee_id}}</td>
            <td>{{data.firstName}}</td>
            <td>{{data.lastName}}</td>
            <td>{{data.email}}</td>

            <td >
                <ng-container *ngTemplateOutlet="actions; context:{id: data.employee_id}" ></ng-container>
            </td>
        </tr>
    </tbody>
</nz-table>
<ng-template #actions let-id="id">
    <button (click)="onViewHandler(id)" style="background: var(--primary-color); border-color: var(--primary-color)" type="button" nz-button nzType="primary">
        View
    </button>
    <button (click)="onEditHandler(id)" style="border-color: var(--warning-color);background: var(--warning-color);margin-left: .65rem; margin-right: .65rem;" type="button" nz-button nzType="primary">
        edit
    </button>
    <button (click)="onDeleteHandler(id)" style="border-color: var(--success-color);background: var(--danger-color)"  type="button" nz-button nzType="primary">
        delete
    </button>
</ng-template>